#? Optional
SERVER_URL=http://localhost:3000
VITE_LOCAL_STORAGE_BASE_KEY=atplus-crm

#| NocoBase API credentials for types generation script
CRM_NOCOBASE_URL=https://your-nocobase-instance.com
CRM_NOCOBASE_TIMEOUT_MS=15000

#| Utilizada em Scripts e Desenvolvimento, não é necessário para o funcionamento da aplicação
CRM_NOCOBASE_TOKEN=your-api-token
